@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgb(222, 221, 221);
}
::-webkit-scrollbar-thumb{
  background-color: #e86e6b;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #bf2e2a;
}
.py-40 {
  padding-top: 6rem;
  padding-bottom: 2rem;
}
